<div class="header-container" id="header-container"></div>

<div class="outer-page-container">
  <div class="page-container">

    <div class="flex">
      <div class="flex-3 left-sidebar">
        <div class="menu">
          <div class="sidebar-header">
            MENU
          </div>
          <div class="menu-list">
            <ul>
              <li class="selected"><a href="/">Browse</a></li>
              <li><a href="/live">Live Music</a></li>
              <li><a href="/today">Today in History</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-18" id="page-container">

      </div>
    </div>

  </div>
</div>
