<div class="player-hero hbox">
  <div class="player-hero-first-third vbox">
    <div class="vertical-spacer"></div>

    <div class="player-main-controls-wrapper">
      <div class="player-main-controls">
        <div class="player-fa">
          <i class="fa-fast-backward fa" id="fast-backward"></i>
        </div>
        <div class="player-fa-circle-play player-fa" ng-show="!audio1.playing" ng-click="playButton()">
          <i class="fa-play fa" id="play"></i>
        </div>
        <div class="player-fa-circle-pause player-fa ng-hide" ng-show="audio1.playing" ng-click="playButton()">
          <i class="fa-pause fa" id="pause"></i>
        </div>
        <div class="player-fa">
          <i class="fa-fast-forward fa" id="fast-forward"></i>
        </div>
      </div>
    </div>
  </div>

  <audio media-player="audio1" data-playlist="playlist1"><source src="http://relisten.app.alecgorge.com/loggedin.html" type="audio/ogg" media=""></audio>

  <div class="player-hero-second-third vbox">
    <div class="player-hero-text">
      <p class="player-hero-song ng-binding"></p>
      <p class="player-hero-venue ng-binding"></p>
    </div>

    <div class="player-progress-bar-bottom">
      <div class="player-progress-bar-wrapper">
        <div class="player-progress-bar">
          <div class="player-progress-bar-filled" ng-style="{width: current_time_percentage}"></div>
          <div class="player-progress-bar-knob" ng-style="{left: current_time_percentage}"></div>
        </div>
      </div>
      <div class="player-time ng-binding ng-hide" ng-show="audio1.playing">/</div>
      <div class="player-time" ng-show="!audio1.playing">0:00/0:00</div>
    </div>
  </div>

  <div class="player-hero-last-third vbox">
    <div class="vertical-spacer"></div>

    <div class="player-secondary-controls">
      <i class="fa-volume-up fa"></i>
      <div class="volume-bar-wrapper">
        <div class="volume-bar">
          <div class="volume-bar-filled" ng-style="{width: current_volume_percentage}" style="width: 60%;"></div>
          <div class="volume-bar-knob" ng-style="{left: current_volume_percentage}" style="left: 60%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>