<div id="artists-list" class="flex-list flex-5"></div>
<div id="years-list" class="flex-list flex-2"></div>
<div id="shows-list" class="flex-list flex-3"></div>
<div id="tapes-list" class="flex-list flex-5"></div>
<div id="info-list" class="flex-list flex-3"></div>
